.app-style {
  padding: 100px;
  display: flex;
  gap: 12px;
}

.component-style {
  width: 270px;
  border: 4px solid teal;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 12px 24px 24px;
}

.MyTodoListReact {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid gainsboro;
  width: 100%;
}

.titleList {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: none;
  background: gainsboro;
  font-weight: bold;
  width: 100%;
  height: 50px;
  align-items: center;
}

.titleList input {
  margin-right: 10px;
}

.titldDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
}

.User-button > button {
  background-color: #fff;
  border: 2px solid red;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

.titleList > div > button {
  background-color: teal;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  height: 40px;
  width: 140px;
}
